  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <button class="btn btn-info" (click)="showCreate()">Create</button>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
           <tr *ngFor="let obj of users">
             <td>{{obj.fname}}</td>
             <td>{{obj.lname}}</td>
             <td>{{obj.tel}}</td>
             <td>{{obj.address}}</td>
             <td><button class="btn btn-info" (click)="editUser(obj)">Edit</button></td>
             <td><button class="btn btn-danger" (click)="deleteUser(obj)">Delete</button></td>
      
           </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-3">
        <form *ngIf="userToEdit " (submit)="onSubmitForm($event,myForm)" #myForm>
          <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name" [(ngModel)]="userToEdit.fname">
          </div>
          <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text" class="form-control" name="lname" placeholder="Last Name" [(ngModel)]="userToEdit.lname">
          </div>
          <div class="form-group">
            <label for="tel">Tel</label>
            <input type="text" class="form-control" name="tel" placeholder="Tel" [(ngModel)]="userToEdit.tel">
          </div>
          <div class="form-group">
            <label for="lname">Address</label>
            <input type="text" class="form-control" name="address" placeholder="address" [(ngModel)]="userToEdit.address">
          </div>
          <button type="submit" class="btn btn-primary" *ngIf="isEdit">Submit</button>
          <button type="submit" class="btn btn-primary" *ngIf="!isEdit">Create</button>

        </form>
      </div>
    </div>
  </div>
