<!-- <div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">tel</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of allUsers" (click)="seletedPerson = user">
        <td>{{user.fname}}</td>
        <td>{{user.lname}}</td>
        <td>{{user.tel}}</td>
        <td>{{user.address}}</td>
      </tr>
    </tbody>
  </table>
  <hr>
  <br>
  <app-child [selecteduser] = "seletedPerson"></app-child>
</div>
 -->

 <!-- <app-employedetails></app-employedetails> -->
 <app-siblings></app-siblings>